Jetson_Nano/Sentinel/models/research/object_detection/test_ckpt/ssd_inception_v2.pb
Model_Training/TensorFlow/workspace/training/models/my_ssd_mobilenet_v2_old/eval_0/events.out.tfevents.1654550514.LAPTOP-EN3OJ50G
Model_Training/TensorFlow/models/research/object_detection/test_ckpt/ssd_inception_v2.pb
